*.log
/*.tar.gz
/libgourou*
/packaging/debian/.debhelper/
/packaging/debian/debhelper-build-stamp
/packaging/debian/files
/packaging/debian/karaf.*.debhelper
/packaging/debian/karaf.substvars
/packaging/debian/karaf/
/packaging/debian/libgourou.substvars
/packaging/debian/libgourou/
/packaging/unpacked-src/
