Source: libgourou
Section: unknown
Priority: optional
Maintainer: Steinar Bang <sb@dod.no>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://forge.soutade.fr/soutade/libgourou#readme
Vcs-Browser: https://forge.soutade.fr/soutade/libgourou
Vcs-Git: https://forge.soutade.fr/soutade/libgourou.git

Package: libgourou
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: libgourou is a free implementation of Adobe's ADEPT protocol used to add DRM on ePub/PDF files.

